@import './varibles.styl'
.custom_sizeColor
  color $primary-sizeColor
.el-container
  height 100%
  background $primary-bgcolor
.el-header
  padding 0
.el-header
  height 1.24rem !important
  border-bottom 2px solid #ccc
.el-link.el-link--default
  color #FFF
  cursor pointer
.custom_main
  width 100%
  background #fff
  border-radius 6px
  color #666666
  padding 0.4rem 0 1rem 0
.custom_form_item
  width 100%
.custom_form_SecectItem
  width 60%
.custom_form_SecectItem .el-form-item__content
  display flex
  justify-content space-between
.custom_form_SecectItem .el-form-item__content .el-select
  width 3.2rem
  margin-right 0.2rem
.custom_form_SecectItem .el-form-item__content .el-select:last-child
  margin-right 0
.custom_form_useItem
  width 80%
.paginate
  width 100%
  text-align right
  padding-top 20px
.hide .el-upload--picture-card
  display none
span.el-tooltip.hoverSpan
  position absolute
  left 0
  width 100%
  opacity 0
.custom_analysis_totalTable1 .el-table tr th:nth-child(n+3) .cell
  overflow hidden
  white-space nowrap !important
.custom_analysis_totalTable1 .el-table tr th:nth-child(-n+2) .cell
  border-bottom 1px solid #fff
.custom_login
  .el-input__inner
    background-color rgba(255, 255, 255, 0) !important
    color #ffffff
    border 1px solid rgba(21,153,187,0.2)
  .el-input__inner:focus
    border-color rgba(21,153,187,1) !important
  .el-checkbox__inner
    background-color rgba(255, 255, 255, 0) !important
    border-color rgba(7, 157, 218 ,0.5)
  .el-checkbox
    font-weight normal !important
